<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    failOnDeprecation="true"
    failOnWarning="true"
    stopOnFailure="false"
    failOnRisky="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="build/logs/junit.xml"/>
        <testdoxHtml outputFile="build/logs/testdox.html"/>
        <testdoxText outputFile="build/logs/testdox.txt"/>
    </logging>
</phpunit>
